:root{ 
    --amarillo: #ecbe14 ;
    --azul: #0B5563;
    --azul-claro:#34b5aa;
    --negro:#9ccf31;
}
.nav-bg {
    background-color: var(--negro);
    padding: 1rem;
}

.navbar{
    background-color: var(--negro);  
    display:flex; 
    justify-content: column;
    justify-content: space-around;
    align-items: center;
}

/*Catalogo*/
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /*modificar la direccion en que se meuven las cosas*/
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}